এক্সটেনশন রিমুভ করার জন্য
RewriteEngine On
RewriteRule ^posts/([0-9]+)$ posts.php?post_id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f //এখান থেকে যা সেট করবো সেটা ডিলেট হবে । 
RewriteRule ^(.*)$ $1.php//এখান থেকে যা সেট করবো সেটা ডিলেট হবে । 

404.php পেজে নিয়ে যাওয়ার জন্য 
ErrorDocument 404 /404.php

স্লাগ তৈরীর সিস্টেম 
$title = $data['title'];
$slug = strtolower($title);

$slug = preg_replace('/[^a-z0-9-]+/', '-', $slug);
$slug = trim($slug, '-');

// ইউআরএল তৈরি করুন
$url = $slug;
